@import url('https://fonts.googleapis.com/css?family=Ek+Mukta|Roboto|Open Sans:Light');
::-webkit-scrollbar {
    display: none;
}
body{
  overflow-x: hidden;
  font-size: 16px;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/*MAIN PAGE*/
.main-page {
  display: inline-block;
  width: 100vw;
  left: 0px;
  top: 0px;
  background-color: #EEEEEE;
  height: 100vh;
  max-height: 800px;
  overflow: visible;
  border: none;
}
.left {
  display: inline-block;
  top: 50px;
  left: 0px;
  width: 60vw;
  height: 100%;
  max-height: 800px;
  background-color: white;
}
.right{
    position: absolute;
    height: 100%;
    top: 0px;
    width: 40vw;
    max-height: 800px;
    right: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-box {
  margin-top: 150px;
  margin-bottom: 0px;
  margin-right: 50px;
}
.main-sub-box-1{
  display: inline-block;
  width: 150px;
  background-color: white;
  overflow: visible;
  padding-right: 50px;
  padding-left: 80px;
}
.profile-pic:hover, .profile-pic:active {
  background-position: -280px -20px;
}
.profile-pic{
  right: 0px;
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  border: 1px solid #DDDDDD;
  background: url("https://s20.postimg.cc/muinjsuyl/image.png");
  background-repeat: no-repeat;
  background-position: -40px -20px;
  background-size: 320%;
}
.sub-title{
  font-family:'-apple-system', BlinkMacSystemFont,'Open Sans', sans-serif;
  font-size: 110%;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 30px;
}
.sub-title:hover {
  transform: scale(1.04);
  color: #A8C1F0;
}
.sub-title-box {
  width: 100%;
  text-align: right;
  overflow: visible;
}
.sub-link{
  color: inherit;
  text-decoration: none;
}
.sub-link:hover{
  color: #A8C1F0;
}
.stripe-border{
  background-image: url("https://s20.postimg.cc/nmlbitz3x/Picture1.png");
  width: 60vw;
  background-size: 30%;
  height: 40px;
  margin-top: 0px;
}
.main-sub-box-2{
  display: inline-block;
  height: 250px;
  width: 48%;
  text-align: left;
  background-color: white;
  overflow: visible;
  vertical-align: top;
}
.title{
  font-family:'Ek Mukta', sans-serif;
  font-size: 193%;
  font-weight: bold;
  width: 100%;
  letter-spacing: 8px;
  margin-bottom: 0px;
}
.main-title{
  margin-top: -10px;
  text-align: left;
  letter-spacing: 6px;
}
.paragraph {
  font-family: '-apple-system', BlinkMacSystemFont,'Open Sans', sans-serif;
  font-size: 95%;
  text-align: left;
  font-weight: lighter;
  line-height: 26px;
  letter-spacing: 0.3px;
  width: 100%;
  margin: 0 auto;
  margin-top: -10px;
}
.button-line{
  width: 110%;
  margin-left: -15px;
  margin-top: 0px;
  margin-bottom: 40px
}
.round-button{
  display: inline-block;
}
.round-button img {
    width: 20px;
    height: 20px;
    padding: 15px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;

}
.button-text {
  visibility: hidden;
  font-family: '-apple-system', BlinkMacSystemFont,'Open Sans', sans-serif;
  font-size: 75%;
  margin-top: 0px;
  opacity: 0.9;
  text-align: center;
  font-weight: lighter;
}
.round-button:hover .button-text{
  visibility: visible;
}
.round-button:hover img{
  opacity: 0.3;
}

/*ABOUT ME PAGE AND PORTFOLIO PAGE*/
.sub-page{
  display: inline-block;
  width: 100%;
  min-height: 100vh;
  background-color: #ZZZZZ;
  padding-top: 30px;
  text-align: left;
}

.parent-page{
  margin-left: 100px;
  font-weight: bold;
  color: grey;
}
.parent-page:hover {
  text-decoration: underline;
}
.current-page{
}
/*ABOUT ME PAGE */
.about-me{
  margin-left: 0 auto;
  margin-right: 0 auto;
  background-color: #fafafa;
}
.info-box{
  display: inline-block;
  font-family: '-apple-system', BlinkMacSystemFont,'Open Sans', sans-serif;
  font-size: 100%;
  width: 450px;
  margin: 20px;
  color: rgb(70,70,70);
  vertical-align: top;
  margin-top: 50px;
}
td:nth-child(odd) {
  padding-right: 20px;
  vertical-align: top;
}

ul{
   list-style-type: none;
   margin-left: -40px;
 }

.ab-icon{
  width: 20px;
  height: 20px;
  margin-top: 2px;
  background-size: contain;
}
.grey-title{
  font-size: 110%;
  letter-spacing: 4px;
  color: black;
}
/*PORTFOLIO PAGE*/
.portfolio{
  font-family: '-apple-system', BlinkMacSystemFont,'Open Sans', sans-serif;
  font-size: 95%;
  text-align: left;
  font-weight: lighter;
  line-height: 26px;
  letter-spacing: 0.3px;
  width: 100%;
  margin: 0 auto;
  margin-top: -10px;
}

.portfolio-gallery{
  padding-top: 3%;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.portfolio-box{
  display: inline-block;
  width: 40%;
  margin-top: 50px;
}
.project{
    background-size: contain;
    width: 90%;
    border: 1px solid #E1E1E1;
}
.project:hover {
  opacity: 0.5;
}
.footer-text {
  background-color: white;
  height; 500px;
  width: 100%;
  text-align: center;
  font-family: '-apple-system', BlinkMacSystemFont,'Open Sans', sans-serif;
  font-weight: lighter;
  letter-spacing: 0.3px;
  font-size: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1000px){
  .title{
  }
  .left{
    width: 100%;
  }
  .right{
    display: inline-block;
    width: 100vw;
    top: none;
    position: static;
    background-position: 0% 40%;
  }
  .main-page {
    overflow: visible;
    height: 600px;
  }
  .stripe-border{
    width: 100vw;
  }
  .main-sub-box-2{
    width: 60%;
  }
}
@media screen and (max-width: 799px){
  .title{
    text-align: center;
    font-size: 150%;
    letter-spacing: 6px;
    margin-top: 30px;
  }
  .info-box{
    width: 80vw;
  }
  .paragraph{
    font-size: 90%;
  }
  .sub-title-box{
    text-align: center;
  }
  .left{
    text-align: center;
    height: 650px;
    width: 100vw;
  }
  .button-line{
    text-align: center;
    margin-top: 50px;
  }
  .main-box{
    margin: 0px;
    margin-top: 50px;
  }
  .main-sub-box-1{
    padding: 0px;
    width: 100vw;
    text-align: center;
  }
  .main-sub-box-2{
    width: 80%;
  }
  .profile-pic{
    margin: auto;
  }
  .sub-title{
    display: none;
  }
}
