@import url('https://fonts.googleapis.com/css?family=Ek+Mukta|Roboto|Open Sans:Light');
::-webkit-scrollbar {
    display: none;
}
body{
  overflow-x: hidden;
  font-size: 16px;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/*MAIN PAGE*/
.main-page {
  display: inline-block;
  width: 100vw;
  left: 0px;
  top: 0px;
  background-color: #EEEEEE;
  height: 100vh;
  max-height: 800px;
  overflow: visible;
  border: none;
}
.left {
  display: inline-block;
  top: 50px;
  left: 0px;
  width: 60vw;
  height: 100%;
  max-height: 800px;
  background-color: white;
}
.right {
  position: absolute;
  height: 100%;
  top: 0px;
  width: 40vw;
  max-height: 800px;
  right: 0px;
  background-image: url("https://s20.postimg.org/lr34ljx4d/image.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-box {
  margin-top: 150px;
  margin-bottom: 0px;
  margin-right: 50px;
}
.main-sub-box-1{
  display: inline-block;
  width: 150px;
  background-color: white;
  overflow: visible;
  padding-right: 50px;
  padding-left: 80px;
}
.profile-pic:hover, .profile-pic:active {
  background-position: -280px -20px;
}
.profile-pic{
  right: 0px;
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  border: 1px solid #DDDDDD;
  background: url("https://s20.postimg.org/muinjsuyl/image.png");
  background-repeat: no-repeat;
  background-position: -40px -20px;
  background-size: 320%;
}
.sub-title{
  font-family:'-apple-system', BlinkMacSystemFont,'Open Sans', sans-serif;
  font-size: 110%;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 30px;
}
.sub-title:hover {
  transform: scale(1.04);
  color: #A8C1F0;
}
.sub-title-box {
  width: 100%;
  text-align: right;
  overflow: visible;
}
.sub-link{
  color: inherit;
  text-decoration: none;
}
.sub-link:hover{
  color: #A8C1F0;
}
.stripe-border{
  background-image: url("https://s20.postimg.org/nmlbitz3x/Picture1.png");
  width: 60vw;
  background-size: 30%;
  height: 40px;
  margin-top: 0px;
}
.main-sub-box-2{
  display: inline-block;
  height: 250px;
  width: 48%;
  text-align: left;
  background-color: white;
  overflow: visible;
  vertical-align: top;
}
.title{
  font-family:'Ek Mukta', sans-serif;
  font-size: 193.4%;
  font-weight: bold;
  width: 100%;
  letter-spacing: 10px;
  margin-bottom: 0px;
}
.main-title{
  margin-top: -10px;
}
.paragraph {
  font-family: '-apple-system', BlinkMacSystemFont,'Open Sans', sans-serif;
  font-size: 95%;
  text-align: left;
  font-weight: lighter;
  line-height: 26px;
  letter-spacing: 0.3px;
  width: 100%;
  margin: 0 auto;
  margin-top: -10px;
}
.button-line{
  width: 110%;
  margin-left: -15px;
  margin-top: 0px;
  margin-bottom: 40px
}
.round-button{
  display: inline-block;
  overflow: visible;
}
.round-button img {
    width: 20px;
    height: 20px;
    padding: 15px;
}
.button-text {
  visibility: hidden;
  font-family: '-apple-system', BlinkMacSystemFont,'Open Sans', sans-serif;
  font-size: 75%;
  margin-top: 0px;
  opacity: 0.9;
  text-align: center;
  font-weight: lighter;
}
.round-button:hover .button-text{
  visibility: visible;
}
.round-button:hover img{
  opacity: 0.3;
}
.linkedIn-button{
  content: url("https://cdns.iconmonstr.com/wp-content/assets/preview/2012/240/iconmonstr-linkedin-1.png");
}
/*.linkedIn-button:hover {
  content: url("https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-linkedin-1.png&r=168&g=193&b=240");
}*/
/*A8C1F0*/
.fb-button{
  content: url("https://cdns.iconmonstr.com/wp-content/assets/preview/2012/240/iconmonstr-facebook-1.png");
}
/*.fb-button:hover {
  content: url("https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-facebook-1.png&r=168&g=193&b=240");
}*/
.codePen-button{
  content: url("https://www.shareicon.net/download/2016/11/14/852181_codepen.svg");
}
/*.codePen-button:hover {
  content: url("https://cdn.worldvectorlogo.com/logos/codepen-icon.svg");
}*/
.gitHub-button{
  content: url("https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-github-1.png&r=0&g=0&b=0");
}
/*.gitHub-button:hover{
  content: url("https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-github-1.png&r=168&g=193&b=240");
}*/
.email-button{
  content: url("https://cdns.iconmonstr.com/wp-content/assets/preview/2012/240/iconmonstr-email-3.png");
}
/*.email-button:hover {
  content: url("https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-email-3.png&r=168&g=193&b=240");
}*/

/*ABOUT ME PAGE AND PORTFOLIO PAGE*/
.sub-page{
  display: inline-block;
  width: 100%;
  min-height: 100vh;
  background-color: #ZZZZZ;
  padding-top: 30px;
  text-align: left;
}

.parent-page{
  margin-left: 100px;
  font-weight: bold;
  color: grey;
}
.parent-page:hover {
  text-decoration: underline;
}
.current-page{
}
/*ABOUT ME PAGE */
.about-me{
  margin-left: 0 auto;
  margin-right: 0 auto;
  background-color: #fafafa;
}
.info-box{
  display: inline-block;
  font-family: '-apple-system', BlinkMacSystemFont,'Open Sans', sans-serif;
  font-size: 100%;
  width: 450px;
  margin: 20px;
  color: rgb(70,70,70);
  vertical-align: top;
  margin-top: 50px;
}
td:nth-child(odd) {
  padding-right: 20px;
  vertical-align: top;
}
.work-icon{
  content: url("https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-pencil-10.png&r=0&g=0&b=0");
}
ul{
   list-style-type: none;
   margin-left: -40px;
 }
.education-icon{
  content: url("https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2017/png/iconmonstr-education-1.png&r=0&g=0&b=0");
}
.ab-icon{
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.grey-title{
  font-size: 110%;
  letter-spacing: 4px;
  color: black;
}
/*PORTFOLIO PAGE*/
.portfolio{
  font-family: '-apple-system', BlinkMacSystemFont,'Open Sans', sans-serif;
  font-size: 95%;
  text-align: left;
  font-weight: lighter;
  line-height: 26px;
  letter-spacing: 0.3px;
  width: 100%;
  margin: 0 auto;
  margin-top: -10px;
}

.project1{
  content:url("https://s3-us-west-2.amazonaws.com/i.cdpn.io/1317966.jwBygP.5d725d2b-f457-4a74-ac22-bda3665c07a0.png");
  width: 90%;
  border: 1px solid #E1E1E1;
}.project2{
  content:url("https://s20.postimg.org/ho7i8bsx9/image.png");
  width: 90%;
  border: 1px solid #E1E1E1;
}
.project3{
  content:url("https://s20.postimg.org/ohcginm2l/Weather_Widget_screenshot.png");
  width: 90%;
  border: 1px solid #E1E1E1;
}
.project4{
  content:url("https://s20.postimg.org/i7clhq2d9/cropped.png");
  width: 90%;
  border: 1px solid #E1E1E1;
}
.project5{
  content:url("https://s20.postimg.org/aawpnevrx/Screen_Shot_2017-07-17_at_11.09.52_pm.png");
  width: 90%;
  border: 1px solid #E1E1E1;
}
.project6{
  content:url("https://s20.postimg.org/jz5kcjtf1/Screen_Shot_2017-11-01_at_7.27.21_am.png");
  width: 90%;
  border: 1px solid #E1E1E1;
}
.portfolio-gallery{
  padding-top: 3%;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  margin-left: 150px;
}
.portfolio-box{
  display: inline-block;
  width: 40%;
  margin-top: 50px;

}
.project:hover {
  opacity: 0.5;
}
.footer-text {
  background-color: #fafafa;
  height; 500px;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: light;
  letter-spacing: 1px;
  font-size: 70%;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1000px){
  .title{
  }
  .left{
    width: 100%;
  }
  .right{
    display: inline-block;
    width: 100vw;
    top: none;
    position: static;
    background-position: 0% 40%;
  }
  .main-page {
    overflow: visible;
    height: 600px;
  }
  .stripe-border{
    width: 100vw;
  }
  .main-sub-box-2{
    width: 60%;
  }
}
@media screen and (max-width: 799px){
  .title{
    text-align: center;
    font-size: 150%;
    letter-spacing: 6px;
    margin-top: 30px;
  }
  .info-box{
    width: 80vw;
  }
  .paragraph{
    font-size: 90%;
  }
  .sub-title-box{
    text-align: center;
  }
  .left{
    text-align: center;
    height: 650px;
    width: 100vw;
  }
  .button-line{
    text-align: center;
    margin-top: 50px;
  }
  .main-box{
    margin: 0px;
    margin-top: 50px;
  }
  .main-sub-box-1{
    padding: 0px;
    width: 100vw;
    text-align: center;
  }
  .main-sub-box-2{
    width: 80%;
  }
  .profile-pic{
    margin: auto;
  }
  .sub-title{
    display: none;
  }
}
